<div class="row features--background">
  <div class="col-md-3 editor--square editor--backgroundGreen">
    <div class="editor-content--positionTop">
      <h1>TRY IN OUT</h1>
    </div>
  </div>
  <div class="col-md-3 editor--square">
    <div class="editor--square2 editor-innerSquare--borderBottom">
      <div class="editor-content--position">
	<h4>TYPE YOUR NAME</h4>
      </div>
    </div>
    <div class="editor--square2">
      <div class="editor-content--position">
	<h4>COLOR kTHEME</h4>
      </div>
    </div>
  </div>
  <div class="col-md-3 editor--square">
    <div class="editor--square2 editor-innerSquare--borderBottom">
      <div class="editor-content--position">
	<h4>SELECT THE SHAPE</h4>
      </div>
    </div>
    <div class="editor--square2">
      <div class="editor-content--position">
	<h4>NUMBER OF COLORS</h4>
      </div>
    </div>
  </div>
  <div class="col-md-3 editor--square editor-square--borderRight editor--backgroundWhite">
    <div class="editor-content--positionCenter">
      <h4>IMAGE HERE</h4>
    </div>
  </div>
</div>
