<div class="row features--background">
  <div class="col-md-3 editor--square editor--backgroundGreen">
    <div class="editor-content--positionTop editor-content--White">
      <h1>TRY IT OUT</h1>
    </div>
  </div>
  <div class="col-md-3 editor-square--noPadding">
    <div class="editor--square2 editor-innerSquare--borderBottom">
      <div class="editor-content--positionCenter">
	<h4>TYPE YOUR NAME</h4>
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">
	    <input class="form-control" type="text" ng-init="editorName='tinygraphs'" ng-model="editorName">
	  </div>
	  <div class="col-md-2"></div>
	</div>
      </div>
    </div>
    <div class="editor--square2">
      <div class="editor-content--positionCenter">
	<h4>COLOR THEME</h4>
	<div class="row">
	  <div class="col-md-1"></div>
	  <div class="col-md-3 editor-themePalette--noPadding"><img class="img-responsive" src="/themes/{{editorTheme}}"></div>
	  <div class="col-md-6">
	    <select class="form-control" ng-init="editorTheme='frogideas'" ng-model="editorTheme">
	      <option>frogideas</option>
	      <option>sugarsweets</option>
	      <option>heatwave</option>
	      <option>daisygarden</option>
	      <option>seascape</option>
	      <option>summerwarmth</option>
	      <option>bythepool</option>
	      <option>duskfalling</option>
	      <option>berrypie</option>
	      <option>base</option>
	    </select>
	  </div>
	  <div class="col-md-1"></div>
	</div>
      </div>
    </div>
  </div>
  <div class="col-md-3 editor-square--noPadding">
    <div class="editor--square2 editor-innerSquare--borderBottom">
      <div class="editor-content--positionCenter">
	<h4>SELECT THE SHAPE</h4>
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">
	    <select class="form-control" ng-init="editorShape='squares'" ng-model="editorShape">
	      <option>squares</option>
	      <option>isogrids</option>
	      <option value="spaceinvaders">space invaders</option>
	      <option value="labs/isogrids/hexa">hexa isogrids</options>
	    </select>
	  </div>
	  <div class="col-md-2"></div>
	</div>	
      </div>
    </div>
    <div class="editor--square2">
      <div class="editor-content--positionCenter">
	<h4>NUMBER OF COLORS</h4>
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">
	    <select class="form-control" ng-init="editorColorNumber='4'" ng-model="editorColorNumber">
	      <option>2</option>
	      <option>3</option>	      
	      <option>4</option>
	    </select>
	  </div>
	  <div class="col-md-2"></div>
	</div>
      </div>
    </div>
  </div>
  <div class="col-md-3 editor--square editor-square--borderRight editor--backgroundWhite">
    <div class="editor-content--positionCenter">
      <img class="editor-image editor-image--center featurette-image img-responsive img-thumbnail" src="/{{editorShape}}/{{editorName}}?theme={{editorTheme}}&numcolors={{editorColorNumber}}&size=220&fmt=svg">
    </div>
  </div>
</div>
