<div class="row">
  <div class="col-md-12">
    <h2 class="text-center" id="examples">EXAMPLES</h2>
    <div class="row">
      <div class="col-md-3">
	<img class="featurette-image img-responsive img-thumbnail" src="/checkerboard?size=402" alt="grid image">
      </div>
      <div class="col-md-3">
	<img class="featurette-image img-responsive img-thumbnail" src="/squares/random?theme=summerwarmth&fmt=svg&size=400" alt="random black an white avatar">
      </div>
      <div class="col-md-3">
	<img class="featurette-image img-responsive img-thumbnail" src="/squares/tinygraphs?size=400" alt="consistent square black and white avatar">
      </div>
      <div class="col-md-3">
	<img class="featurette-image img-responsive img-thumbnail" src="/squares/tinygraphs?theme=bythepool&size=400" alt="consisent square color avatar">
      </div>
    </div>
  </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->

<div class="row">
  <div class="col-md-3">
    <small><code>tinygraphs.com/checkerboard</code></small>
  </div>
  <div class="col-md-3">
    <small><code>tinygraphs.com/squares/random?theme=summerwarmth</code></small>
  </div>
  <div class="col-md-3">
    <small><code>tinygraphs.com/squares/tinygraphs</code></small>
  </div>
  <div class="col-md-3">
    <small><code>tinygraphs.com/squares/tinygraphs?theme=bythepool</code></small>
  </div>
</div> <!-- /.row -->

<div class="row">
  <div class="col-md-3">
    <img class="featurette-image img-responsive img-thumbnail" src="/isogrids/labs/skeleton?size=400" alt="grid image">
  </div>
  <div class="col-md-3">
    <img class="featurette-image img-responsive img-thumbnail" src="/isogrids/random?theme=sugarsweets&size=400" alt="random black an white avatar">
  </div>
  <div class="col-md-3">
    <img class="featurette-image img-responsive img-thumbnail" src="/isogrids/tinygraphs?size=400" alt="consistent square black and white avatar">
  </div>
  <div class="col-md-3">
    <img class="featurette-image img-responsive img-thumbnail" src="/isogrids/tinygraphs?theme=duskfalling&size=400" alt="consisent square color avatar">
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <small><code>tinygraphs.com/isogrids/labs/skeleton</code></small>
  </div>
  <div class="col-md-3">
    <small><code>tinygraphs.com/isogrids/random?theme=sugarsweets</code></small>
  </div>
  <div class="col-md-3">
    <small><code>tinygraphs.com/isogrids/tinygraphs</code></small>
  </div>
  <div class="col-md-3">
    <small><code>tinygraphs.com/tinygraphs?theme=duskfalling</code></small>
  </div>
</div> <!-- /.row -->
