<div class="row examples--background">
  <div class="col-md-3 examples--square examples--backgroundGrey">
    <div class="examples-content--position">
      <h1>EXAMPLES</h1>
    </div>
  </div>
  <div class="col-md-9 examples--square">
    <div id="Carousel1" class="carousel carouselExamples slide center-block">
      <ol class="carousel-indicators">
	<li data-target="Carouselk1" data-slide-to="0" class="active"></li>
	<li data-target="Carouselk1" data-slide-to="1"></li>
	<li data-target="Carouselk1" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner carouselExamples-inner">
	<div class="item active">
	  <img src="/squares/tinygrap?theme=frogideas&numcolors=3" class="img-responsive">	  

	  <img src="/squares/tinygrap?theme=heatwave&numcolors=4" class="img-responsive">
	  <img src="/squares/tinygrap?theme=bythepool&numcolors=4" class="img-responsive">
	  <img src="/squares/tinygrap?theme=daisygarden&numcolors=4" class="img-responsive">
	</div>
	<div class="item">
	  <img src="/isogrids/tinygrap?theme=frogideas&numcolors=3" class="img-responsive">	  

	  <img src="/isogrids/tinygrap?theme=heatwave&numcolors=4" class="img-responsive">
	  <img src="/isogrids/tinygrap?theme=bythepool&numcolors=4" class="img-responsive">
	  <img src="/isogrids/tinygrap?theme=daisygarden&numcolors=4" class="img-responsive">
	</div>
	<div class="item">
	  <img src="/labs/isogrids/hexa/tinygrap?theme=frogideas&numcolors=3" class="img-responsive">	  

	  <img src="/labs/isogrids/hexa/tinygrap?theme=heatwave&numcolors=4" class="img-responsive">
	  <img src="/labs/isogrids/hexa/tinygrap?theme=bythepool&numcolors=4" class="img-responsive">
	  <img src="/labs/isogrids/hexa/tinygrap?theme=daisygarden&numcolors=4" class="img-responsive">
	</div>
      </div>
      <span class="left carousel-control" data-target="#Carousel1" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left"></span>
      </span>
      <span class="right carousel-control" data-target="#Carousel1" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right"></span>
      </span>
    </div> <!-- / .carousel -->
  </div>
</div>
