<div id="examples" class="row examples--background">
  <div class="col-md-3 examples--squareHeader examples--backgroundGrey">
    <div class="examples-content--position">
      <h1>EXAMPLES</h1>
    </div>
  </div>
  <div class="col-md-9 examples--square">
    <div id="Carousel1" class="carousel carouselExamples slide center-block">
      <div class="carousel-inner carouselExamples-inner">
	<div class="item active">
	  <img src="/squares/helloworld?theme=frogideas&numcolors=3" class="img-responsive">
	  <img src="/squares/helloworld?theme=heatwave&numcolors=4" class="img-responsive">
	  <img src="/squares/helloworld?theme=bythepool&numcolors=4" class="img-responsive">
	  <img src="/squares/helloworld?theme=daisygarden&numcolors=4" class="img-responsive">
	  <p class="lead carouselExamples-itemText">/squares/helloworld</p>
	</div>
	<div class="item">
	  <img src="/isogrids/helloworld?theme=frogideas&numcolors=3" class="img-responsive">
	  <img src="/isogrids/helloworld?theme=heatwave&numcolors=4" class="img-responsive">
	  <img src="/isogrids/helloworld?theme=bythepool&numcolors=4" class="img-responsive">
	  <img src="/isogrids/helloworld?theme=daisygarden&numcolors=4" class="img-responsive">
	  <p class="lead carouselExamples-itemText">/isogrids/helloworld</p>
	</div>
	<div class="item">
	  <img src="/labs/isogrids/hexa/helloworld?theme=frogideas&numcolors=3" class="img-responsive">
	  <img src="/labs/isogrids/hexa/helloworld?theme=heatwave&numcolors=4" class="img-responsive">
	  <img src="/labs/isogrids/hexa/helloworld?theme=bythepool&numcolors=4" class="img-responsive">
	  <img src="/labs/isogrids/hexa/helloworld?theme=daisygarden&numcolors=4" class="img-responsive">
	  <p class="lead carouselExamples-itemText">/labs/isogrids/hexa/helloworld</p>
	</div>
      </div>
      <span class="left carousel-control" data-target="#Carousel1" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left"></span>
      </span>
      <span class="right carousel-control" data-target="#Carousel1" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right"></span>
      </span>
    </div> <!-- / .carousel -->
  </div>
</div>
