<div class="row examples--background">
  <div class="col-md-3 examples--square examples--backgroundGrey">
    <h1>EXAMPLES</h1>
  </div>
  <div class="col-md-9 examples--square">
    <h4>CAROUSEL HERE</h4>
  </div>
</div>
<!-- "labs/checkerboard?size=402" -->
<!-- "/labs/squares/random?theme=summerwarmth&fmt=svg&size=400" -->
<!-- "/squares/tinygraphs?size=400" -->
<!-- "/squares/tinygraphs?theme=bythepool&size=400" -->
<!-- "/labs/isogrids/skeleton?size=400" -->
<!-- "/labs/isogrids/random?theme=sugarsweets&size=420" -->
<!-- "/isogrids/tinygraphs?size=420" -->
<!-- "/isogrids/tinygraphs?theme=duskfalling&size=420" -->
<!-- "/labs/isogrids/hexa?theme=heatwave&numcolors=4&size=420" -->
<!-- "/labs/isogrids/hexa?theme=seascape&numcolors=4&size=420" -->
<!-- "/labs/isogrids/hexa/tinygraphs?theme=frogideas&numcolors=4&size=420" -->
<!-- "/labs/isogrids/hexa/tinygraphs?theme=duskfalling&numcolors=4&size=420" -->
