<div class="row">
  <div class="col-md-12">
    <h2 class="text-center" id="examples">EXAMPLE</h2>
    <div class="row">
      <div class="col-md-3">
	<img class="featurette-image img-responsive img-thumbnail" src="/grid" alt="grid image">
      </div>
      <div class="col-md-3">
	<img class="featurette-image img-responsive img-thumbnail" src="/grid/random/1" alt="random black an white avatar">
      </div>
      <div class="col-md-3">
	<img class="featurette-image img-responsive img-thumbnail" src="/grid/square/tinygraphs" alt="consistent square black and white avatar">
      </div>
      <div class="col-md-3">
	<img class="featurette-image img-responsive img-thumbnail" src="/grid/square/6/tinygraphs" alt="consisent square color avatar">
      </div>
    </div>
  </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->
<div class="row">
  <div class="col-md-3">
    <code>/grid</code>
  </div>
  <div class="col-md-3">
    <code>/grid/random/1</code>
  </div>
  <div class="col-md-3">
    <code>/grid/square/tinygraphs</code>
  </div>
  <div class="col-md-3">
    <code>/grid/square/6/tinygraphs</code>
  </div>
</div> <!-- /.row -->
<div class="row">
    <p class="text-center"><br> <a class="btn btn-lg btn-primary" href="#" role="button">Go somewhere</a> </p>  
</div> <!-- /.row -->
