<div class="row features--background" id="features">
  <div class="col-md-3 features--squareHeader features--backgroundGreen">
    <div class="features-content--position features-content--White features-title">
      <h1>FEATURES</h1>
    </div>
  </div>
  <div class="col-md-3 features--square">
    <div class="features-content--position">
      <h4>DIFFERENT SHAPES</h4>
    </div>
    <div class="features-contentText--postion">
      <p class="text-left">Images are based on different geometric shapes and patterns: squares, triangles, ...</p>
    </div>
  </div>
  <div class="col-md-3 features--square">
    <div class="features-content--position">
      <h4>COLOR THEMES</h4>
    </div>
    <div class="features-contentText--postion">
      <p class="text-left">Images can have 2 to 4 colors from a set of color palettes.</p>
    </div>
  </div>
  <div class="col-md-3 features--square">
    <div class="features-content--position">
      <h4>AVATARS AS A SERVICE</h4>
    </div>
    <div class="features-contentText--postion">
      <p class="text-left">Use Tinygraphs to generate avatars and banners for your users and websites.</p>
    </div>
  </div>
</div>
