<div class="row features--background">
  <div class="col-md-3 features--square features--backgroundGreen">
    <div class="features-content--position features-content--White">
      <h1 id="features">FEATURES</h1>
    </div>
  </div>
  <div class="col-md-3 features--square">
    <div class="features-content--position">
      <h4>MULTIPLE GRIDS</h4>
    </div>
    <div class="features-contentText--postion">
      <p class="text-left">Tinygraphs images are based on geometric shapes and patterns: squares, triangles, ...</p>
    </div>
  </div>
  <div class="col-md-3 features--square">
    <div class="features-content--position">
      <h4>COLOR THEMES</h4>
    </div>
    <div class="features-contentText--postion">

      <p class="text-left">You can generate images with 2, 3 or 4 colors from a set of color palettes. You can also create your own color theme.</p>
    </div>
  </div>
  <div class="col-md-3 features--square">
    <div class="features-content--position">
      <h4>AVATARS AS A SERVICE</h4>
    </div>
    <div class="features-contentText--postion">
      <p class="text-left">Use Tinygraphs to generate avatars and banners for your users and website.</p>
    </div>
  </div>
</div>
