<div class="row">
  <div class="col-md-12">
    <h2 class="text-center" id="getstarted">GET STARTED</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="lead text-center">To use tinygraphs in your webside just set the source of your <code>img</code> element to the url of a tinygraphs image:</p>
    <p class="lead text-center"><code>"http://tinygraphs.com/squares/helloworld"</code></p>
    <p class="lead text-center">like so:</p>
    <p class="lead text-center"><code>&lt;img src=&quot;http://tinygraphs.com/squares/helloworld&quot;&gt;</code><br></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">try it out!</h2>
    <p class="lead text-center">tinygraphs.com/squares/<input type="text" ng-init="tgsource='helloworld'" ng-model="tgsource"></p>
  </div>
  <div class="col-md-6">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsource}}" ></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <p class="lead text-center"><code>tinygraphs.com/squares/{{tgsource}}</code></p>
  </div>
</div> <!-- /.row -->
