<div class="row">
  <div class="col-md-8">
    <h1 id="getstarted">GET STARTED</h1>
    <p>To use tinygraphs in your webside just set the source of your <code>&lt;img&gt;</code> element to the url of a tinygraphs image like so:</p>
    <p><pre class="prettyprint lang-html">&lt;img src=&quot;http://tinygraphs.com/squares/helloworld&quot;&gt;</pre></p>
    <p>You can also choose to download your creation and upload it on your website. Just use our editor and then click on the download button.</p>
    <a href="">try it out</a>
  </div> <!-- / col -->
  <div class="col-md-4">
    <h2 class="text-center" id="getstarted">LOOKING FOR MORE OPTIONS?</h2>
    <p>You can see all the options in our github page such as colors and color combinations, shapes, sizes and more. </p>
    <a href="">find us on github</a>
  </div> <!-- / col -->
</div><!-- / row -->
