<div class="row" id="getstarted">
  <div class="col-md-8 getstarted--square">
    <h1 class="getstarted-title">GET STARTED</h1>
    <p>To use tinygraphs in your webside just set the source of your <code>&lt;img&gt;</code> element to the url of a tinygraphs image like so:</p>
    <div class="row">
      <div class="col-md-8">
	<p><pre class="prettyprint lang-html">&lt;img src=&quot;http://tinygraphs.com/squares/helloworld&quot;&gt;</pre></p>
      </div>
    </div>
    <p>You can also choose to download your creation and upload it on your website. Just use our editor and then click on the download button.</p>
    <a href="">TRY IT OUT</a>
  </div> <!-- / col -->
  <div class="col-md-4 getstarted--square getstarted--backgroundGrey">
    <h2 class="text-center" id="getstarted">LOOKING FOR MORE OPTIONS?</h2>
    <p>You can see all the options in our github page such as colors and color combinations, shapes, sizes and more. </p>
    <div class="row">
    <img class="getstarted-img--center" src="/assets/img/GitHub-Mark-120px-plus.png" width="60px">
    </div>
    <div class="row">
      <p class="text-center"><a href="https://github.com/taironas/tinygraphs">FIND US ON GITHUT</a></p>
    </div>
  </div> <!-- / col -->
</div><!-- / row -->
