<div class="row">
  <div class="col-md-12">
    <h2 class="text-center" id="specs">SPECS</h2>
  </div> <!-- / .col-md-12 -->
</div> <!-- /.row -->
<!-- Three columns of text below the carousel -->
<div class="row">

  <div class="col-lg-4">
    <img class="img-circle img-thumbnail" src="/squares/random/?theme=heatwave&fmt=svg&size=140" alt="square grid example">
    <h2>Squares</h2>
    <p>This is a simple and really ressoursefull pattern that generates a <b>consistent</b> 6X6 grid image with squares of two colors.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4">
    <img class="img-circle img-thumbnail" src="/squares/random?theme=daisygarden&fmt=svg&size=140" alt="isometric grid example">
    <h2>Isometric grids</h2>
    <p>This pattern gives you a lot of flexibility when generating the avatars.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4">
    <img class="img-circle img-thumbnail" src="/squares/random?theme=seascape&fmt=svg&size=140" alt="...">
    <h2>something else..</h2>
    <p>under construction...</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
