<div class="row">
  <div class="col-md-12">
    <h2 class="text-center" id="getstarted">THEMES</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="lead text-center">Here are the <b>themes</b> defined by <b>tinygraphs.com</b></p>
    <p class="lead text-center">tinygraphs.com/squares/<input type="text" ng-init="tgsource='helloworld'" ng-model="tgsource"></p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsource}}" ><br><code>base</code></p>
  </div>
  <div class="col-md-3">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsource}}?theme=sugarsweets&numcolors=4&fmt=svg" ><br><code>sugarsweet</code></p>
  </div>  
  <div class="col-md-3">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsource}}?theme=heatwave&numcolors=4&fmt=svg" ><br><code>heatwave</code></p>
  </div>  
  <div class="col-md-3">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsource}}?theme=daisygarden&numcolors=4&fmt=svg" ><br><code>daisygarden</code></p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsource}}?theme=seascape&numcolors=4&fmt=svg" ><br><code>seascape</code></p>
  </div>
  <div class="col-md-3">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsource}}?theme=summerwarmth&numcolors=4&fmt=svg" ><br><code>summerwarmth</code></p>
  </div>  
  <div class="col-md-3">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsource}}?theme=bythepool&numcolors=4&fmt=svg" ><br><code>bythepool</code></p>
  </div>  
  <div class="col-md-3">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsource}}?theme=duskfalling&numcolors=4&fmt=svg" ><br><code>duskfalling</code></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3 class="text-center" id="getstarted">Each theme has 4 colors</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="lead text-center">tinygraphs.com/squares/<input type="text" ng-init="tgsourceNumColors='helloworld'" ng-model="tgsourceNumColors"></p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsourceNumColors}}?theme=frogideas&numcolors=2&fmt=svg" ><br><code>frogideas 2 colors</code></p>
  </div>
  <div class="col-md-4">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsourceNumColors}}?theme=frogideas&numcolors=3&fmt=svg" ><br><code>frogideas 3 colors</code></p>
  </div>
  <div class="col-md-4">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsourceNumColors}}?theme=frogideas&numcolors=4&fmt=svg" ><br><code>frogideas 4 colors</code></p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsourceNumColors}}?theme=berrypie&numcolors=2&fmt=svg" ><br><code>berrypie 2 colors</code></p>
  </div>
  <div class="col-md-4">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsourceNumColors}}?theme=berrypie&numcolors=3&fmt=svg" ><br><code>berrypie 3 colors</code></p>
  </div>
  <div class="col-md-4">
    <p class="lead text-center"><img class="featurette-image img-responsive img-thumbnail" src="/squares/{{tgsourceNumColors}}?theme=berrypie&numcolors=4&fmt=svg" ><br><code>berrypie 4 colors</code></p>
  </div>
</div>
