<div class="row">
  <div class="col-md-6">
    <h2 class="text-left" id="whatisit">WHAT IS<br>TINYGRAPHS</h2>
    <p class="lead text-left">Tinygraphs is an open source avatar generator web service. You can use it to generate a consistent avatars for your web app.</p>
  </div>
  <div class="col-md-6">
 	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8 carousel-whatIs--background">
	    <div id="Carousel" class="carousel carousel-whatis slide center-block">
	    <ol class="carousel-indicators">
	      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
	      <li data-target="#Carousel" data-slide-to="1"></li>
	      <li data-target="#Carousel" data-slide-to="2"></li>
	    </ol>
	    <div class="carousel-inner carouselWhatis-inner">
	      <div class="item active">
		<img src="/squares/tinygrap?theme=sugarsweets&numcolors=4" class="img-responsive">
	      </div>
	      <div class="item">
		<img src="/isogrids/tinygrap?theme=bythepool&numcolors=4" class="img-responsive">
	      </div>
	      <div class="item">
		<img src="/labs/isogrids/hexa/tinygrap?theme=frogideas&numcolors=3" class="img-responsive">
	      </div>
	    </div>
	    <span class="left carousel-control carouselWhatIs-control--opacity" data-target="#Carousel" data-slide="prev">
	      <span class="glyphicon glyphicon-chevron-left"></span>
	    </span>
	    <span class="right carousel-control carouselWhatIs-control--opacity" data-target="#Carousel" data-slide="next">
	      <span class="glyphicon glyphicon-chevron-right"></span>
	    </span>
	  </div> <!-- / .carousel -->
	  </div> <!-- / .col-md-4 -->
	  <!-- <div class="col-md-2"></div> -->
	</div>  <!-- / .row -->
  </div> <!-- / .col-md-6 -->
</div> <!-- /.row -->
