<div class="row">
  <div class="col-md-12">
    <h2 class="text-center" id="about">ABOUT US</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>tinygraphs: A web application that generates avatars.</h2>
    <p class="lead">While building <a href="http://www.gonawin.com">gonawin</a> we found that the avatar service that we were using was not in sync with the designs/colors of our web app.</p>
    <p class="lead">We decided to build <b>tinygraphs</b>, to have the colors <b>combine</b> with the web page itself. Also, as we were having so much fun building it, we decided to extend the patterns used to generate the images. We plan to add more patterns and more choices in the future. This is a free web app, and we plan to keep like that. Right now the only cost is the domain name.</p>
    <h3>The code:</h3>
    <p class="lead">You can find the code in github: <a href="http://www.github.com/taironas/tinygraphs">tinygraphs</a>. You will find the description of how we built it and the stack of technologies that we used.</p>
    <h3>Collaborators:</h3>
    <div class="row centered">
      <div class="col-md-4">
        <img alt="santiago" src="assets/img/santiago.jpg" class="img-thumbnail" title="Santiago" height="264" width="264">
      </div>
      <div class="col-md-4">
        <img alt="remy" src="assets/img/remy.jpg" class="img-thumbnail" title="Remy" height="264" width="264">
      </div>
      <div class="col-md-4">
        <img alt="carmen" src="assets/img/carmen.jpg" class="img-thumbnail" title="Carmen" height="264" width="264">
      </div>
    </div>
    </br>
    <h3>License</h3>
    <p class="lead"><a href="https://tinygraphs.com/">tinygraphs</a> logo is property of tinygraphs, you must always request the permission to use it to <a href="https://plus.google.com/u/0/+CarmenRebolledo/">Carmen</a>.</p>
    <p class="lead">Tinygraphs images are available for free. As a thank you, we only ask that you include a link back to <b>tinygraphs</b> whenever possible.</p>
  </div>
</div>
