<div id="about" class="row about--backgroundGrey">
  <div class="col-md-3 about--squareHeader about--backgroundGreen">
    <div class="about-content--positionTop about-content--White about-title">
      <h1>ABOUT US</h1>
    </div>
    <div class="about-contentText--position about-content--White">
      <p>We are Taironas, a group of friends that spend our free time doing fun web projects like tinygraphs.</p>
      <p>You can find our group on github!</p>
    </div>
  </div> <!-- / col-md-3 -->
  <div class="col-sm-3 about--square">
    <div class="about-content--margin">
      <img alt="santiago" src="assets/img/santiago.jpg" class="img-responsive img-thumbnail about-img" title="Santiago">
    </div>
  </div> <!-- / col-md-3 -->
  <div class="col-sm-3 about--square">
    <div class="about-content--margin">
      <img alt="remy" src="assets/img/remy.jpg" class="img-responsive img-thumbnail about-img" title="Remy">
    </div>
  </div> <!-- / col-md-3 -->
  <div class="col-sm-3 about--square">
    <div class="about-content--margin">
      <img alt="carmen" src="assets/img/carmen.jpg" class="img-responsive img-thumbnail about-img" title="Carmen">
    </div>
  </div> <!-- / col-md-3 -->
</div>
<!-- about the project -->
<div class="row">
  <div class="col-md-3 about-square--noborder">
    <div class="about-content--positionTop tg-title-color">
      <h3 class="text-left">ABOUT THE PROJECT</h3>
    </div>
    <div class="about-contextText--position">
	<p class="text-left">While building <a href="http://www.gonawin.com">gonawin</a> we found that the avatar service that we were using was not in sync with the designs/colors of our web app.</p>
	<p class="text-left">We decided to build tinygraphs, to have the colors combine with the web page itself. Also, as we were having so much fun building it, we decided to extend the patterns used to generate the images.</p>

    </div>
  </div> <!-- / col-md-3 -->
  <div class="col-md-1"></div>
  <div class="col-md-3 about-square--noborder">
    <div class="about-content--positionTop tg-title-color">
      <h3 class="text-left">THE CODE</h3>
    </div>
    <div class="about-contextText--position">
      <p class="text-left">You can find the code in github: <a href="http://www.github.com/taironas/tinygraphs">tinygraphs</a>. You will find the description of how we built it and the stack of technologies that we used.</p>
    </div>
  </div> <!-- / col-md-3 -->
  <div class="col-md-1"></div>
  <div class="col-md-3 about-square--noborder">
    <div class="about-content--positionTop tg-title-color">
      <h3 class="text-left">LICENSE</h3>
    </div>
    <div class="about-contextText--position">
      <p class="text-left"><a href="https://tinygraphs.com/">tinygraphs</a> logo is property of tinygraphs, you must always request the permission to use it to <a href="https://plus.google.com/u/0/+CarmenRebolledo/">Carmen</a>.</p>
    <p class="text-left">Tinygraphs images are available for free. As a thank you, we only ask that you include a link back to <b>tinygraphs</b> whenever possible.</p>
    </div>
  </div> <!-- / col-md-3 -->
</div>
