<footer>
  <nav class="tg-footer navbar-inverse">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h4 id="footer-header">tinygraphs &copy; 2015</h4>
	  <div class="col-sm-4" style="padding: 0 0 0 0px">
	    <p><a href="##specs">Specs</a></p>
	    <p><a href="##examples">Examples</a></p>
	    <p><a class="footer-link" href="/##about">About</a></p>
	    <p><a class="footer-link" href="/##getstarted">Get Started</a></p>
	  </div>
        </div>
        <div class="col-sm-4" style="padding: 0 0 0 0px">
          <h4 id='footer-header'>By Santiago, Remy & Carmen</h4>
	</div>
        <div class="col-sm-4">
          <h4 id='footer-header'> follow us @tinygraphs</h4>
	</div>
      </div>
    </div>
  </nav>
</footer>
