<footer>
  <nav class="tg-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h4 id="footer-header"><img class="footer-logo" alt="tinygraphs" src="assets/img/tinygraphs.png" title="tinygraphs"> &copy; 2015</h4>
          <div class="row">
            <div class="col-sm-6">
              <a class="footer-link" href="##whatisit">What is tinygraphs</a>
              <a class="footer-link" href="##features">Features</a>
              <a class="footer-link" href="##examples">Examples</a>
            </div> <!-- / col-sm-6 -->
            <div class="col-sm-6">
              <a class="footer-link" href="/##tryitout">Try it out</a>
              <a class="footer-link" href="/##getstarted">Get Started</a>
              <a class="footer-link" href="/##about">About us</a>
            </div> <!-- / col-sm-6 -->
          </div> <!-- / row -->
        </div>
        <div class="col-sm-4 footer-img--margin" style="padding: 0 0 0 0px">
          <h4 id='footer-header'><a href="http://github.com/taironas"><img alt="taironas logo" src="assets/img/powered_by_taironas_big_green.png" width="250px"></a></h4>
        </div>
        <div class="col-sm-4">
        </div>
      </div> <!-- / row -->
    </div> <!-- / container -->
  </nav>
</footer>
