<nav class="navbar navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">tinygraphs</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="##whatisit">What is tinygraphs</a></li>
        <li><a href="##specs">Specs</a></li>
        <li><a href="##examples">Examples</a></li>
        <li><a href="##getstarted">Get started</a></li>
        <li><a href="##about">About us</a></li>
        <li><a href="#/view1">View1</a></li>
        <li><a href="#/view2">View2</a></li>
      </ul>
    </div>
  </div>
</nav>
