<nav class="navbar navbar-default navbar--color navbar--nomargin" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header navbar-header--margin">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="nav-logo" alt="tinygraphs" src="assets/img/tinygraphs.svg" height="55" title="tinygraphs"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="##whatisit" scroll-to="whatisit">WHAT IS TINYGRAPHS</a></li>
        <li><a href="##features" scroll-to="features">FEATURES</a></li>
        <li><a href="##examples" scroll-to="examples">EXAMPLES</a></li>
        <li><a href="##tryitout" scroll-to="tryitout">TRY IT OUT</a></li>
        <li><a href="##getstarted" scroll-to="getstarted">GET STARTED</a></li>
      </ul>
    </div>
  </div>
</nav>
