/* app css stylesheet */

body{
    font-family: 'Roboto', sans-serif;
}

.app-push--height {
    height: 55px;
}

.tg-title-color{
    color: #3DBBAD;
}

.tg-title-font{
    font-family: 'Roboto Slab', serif;
}

.tg-link{
    color: #3DBBAD;    
}

.tg-link:focus,
.tg-link:hover {
    background: #F4F4F4;
    color: #2E97A6;
}

.tg-btn{
    border-radius: 0;
    border:0;
    color: #fff;
    background-color: #2F9EA8;
}

.tg-btn:hover {
  background-color: #44C083;
}
