.about--backgroundGreen{
    /* background: #43BF86; */
    background: url(/labs/isogrids/banner/gradient?theme=frogideas&p=0.2&xt=4&h=580&w=400&gx1=0&gy1=0&gy2=40&gx2=40);

}

.about--backgroundGrey{
    background: #F4F4F4;
}

.about--backgroundWhite{
    background: #FFF;
}

.about-square--noPadding{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 580px;
    border-top: solid 1px #CBCBCB;
    border-bottom: solid 1px #CBCBCB;
    border-left: solid 1px #CBCBCB;
}

.about--squareHeader,
.about--square{
    padding-bottom: 50px;
    padding-top: 50px;
    height: 404px;
    border-top: solid 1px #CBCBCB;
    border-bottom: solid 1px #CBCBCB;
    border-left: solid 1px #CBCBCB;
}

.about-square--noborder{
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.about-square--borderRight{
    border-right: solid 1px #CBCBCB;
}

.about-innerSquare--borderBottom{
    border-bottom: solid 1px #CBCBCB;
}

.about--square2{
    height: 290px;
}

.about-content--position{
    position: relative;
    top: 55%;
    text-align:center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.about-contentText--position{
    position: relative;
    top: 15%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-0%);
}

.about-content--positionTop{
    position: relative;
    top: 0%;
    text-align:center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.about-content--positionCenter{
    position: relative;
    top: 50%;
    text-align:center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.about-content--White{
    color: #FFF;
}

.about-title{
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media (max-width: 950px){
    .about-square--noPadding{
	height: 175px;
    }

    .about--squareHeader{
	height: 50px;	
	padding-top: 0px;
	padding-bottom: 0px;
    }
    .about--square2{
	height: 75px;
	padding-top: 0px;
	padding-bottom: 0px;
    }

    .about--square{
    	height: 220px;
    }
}
