.editor--backgroundGreen{
    background: url(/labs/isogrids/banner/gradient?p=0.2&xt=4&h=580&w=400&gx1=0&gy1=0&gy2=40&gx2=40&colors=e2ffde&colors=70d8a4&colors=3dbbad&colors=3dbbad);

}

.editor--backgroundGrey{
    background: #F4F4F4;
}

.editor--backgroundWhite{
    background: #FFF;
}

.editor-square--noPadding{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 580px;
    border-top: solid 1px #CBCBCB;
    border-bottom: solid 1px #CBCBCB;
    border-left: solid 1px #CBCBCB;
}

.editor--square,
.editor--squareHeader{
    padding-bottom: 50px;
    padding-top: 50px;
    height: 580px;
    border-top: solid 1px #CBCBCB;
    border-bottom: solid 1px #CBCBCB;
    border-left: solid 1px #CBCBCB;
}

.editor-square--borderRight{
    border-right: solid 1px #CBCBCB;
}

.editor-innerSquare--borderBottom{
    border-bottom: solid 1px #CBCBCB;
}

.editor--square2{
    /* padding-bottom: 50px; */
    /* padding-top: 50px; */
    height: 290px;
}

.editor-content--position{
    position: relative;
    top: 0%;
    text-align:center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.editor-content--positionTop{
    position: relative;
    top: 10%;
    text-align:center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.editor-content--positionCenter{
    position: relative;
    top: 50%;
    text-align:center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.editor-content--White{
    color: #FFF;
}

.editorColorTheme-select--width{
    width:80%;
    left:10%;
}

.editor-themePalette--noPadding{
    padding: 0;
}

.editor-themePalette--height{
    height:30px;
}

.editor-image{
    border: 0;
}

.editor-image--center{
    display: inline-block;
}

.editor-title{
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.editor-row--padding{
    padding-top: 10px;
}

@media (max-width: 992px){
    .editor-square--noPadding{
	height: 175px;
    }

    .editor--squareHeader{
	height: 50px;	
	padding-top: 0px;
	padding-bottom: 0px;
    }
    .editor--square2{
	height: 75px;
	padding-top: 0px;
	padding-bottom: 0px;
    }

    .editor--square{
    	height: 250px;
    }

    .editor-image{
	height:200px;
    }
}
