.editor--backgroundGreen{
    background: #43BF86;
}

.editor--backgroundGrey{
    background: #F4F4F4;
}

.editor--backgroundWhite{
    background: #FFF;
}

.editor-square--noPadding{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 580px;
    border-top: solid 1px #CBCBCB;
    border-bottom: solid 1px #CBCBCB;
    border-left: solid 1px #CBCBCB;
}

.editor--square{
    padding-bottom: 50px;
    padding-top: 50px;
    height: 580px;
    border-top: solid 1px #CBCBCB;
    border-bottom: solid 1px #CBCBCB;
    border-left: solid 1px #CBCBCB;
}

.editor-square--borderRight{
    border-right: solid 1px #CBCBCB;
}

.editor-innerSquare--borderBottom{
    border-bottom: solid 1px #CBCBCB;
}

.editor--square2{
    /* padding-bottom: 50px; */
    /* padding-top: 50px; */
    height: 290px;
}

.editor-content--position{
    position: relative;
    top: 0%;
    text-align:center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.editor-content--positionTop{
    position: relative;
    top: 10%;
    text-align:center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.editor-content--positionCenter{
    position: relative;
    top: 50%;
    text-align:center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.editor-content--White{
    color: #FFF;
}

.editorColorTheme-select--width{
    width:80%;
    left:10%;
}

.editor-themePalette--noPadding{
    padding: 0;
}

.editor-themePalette--height{
    height:30px;
}

.editor-image--center{
    display: inline-block;
}

@media (max-width: 950px){
    .editor-square--noPadding{
	height: 220px;
    }

    .editor--square,
    .editor--square2{
	height: 101px;
    }

    .editor-image{
	height:95px;
    }
}
