.examples--background{
    background: #FFF;
}

.examples--square{
    padding-bottom: 50px;
    padding-top: 50px;
    height: 404px;
}

.examples--backgroundGrey{
    background: #F4F4F4;
}

.examples-content--position{
    position: relative;
    top: 33%;
    text-align:center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/* CUSTOMIZE CAROUSEL
-------------------------------------------------- */

.carouselExamples {
  height: 182px;
  width: 660px;
  margin-bottom: 0px;
  position: relative;
}

.carouselExamples .item {
  height: 182px;
  width: 660px;
}

.carouselExamples-inner > .item > img {
      height: 142px;
      width: 142px;
      display: inline;
      margin-left: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 10px;
}

.carouselExamples--background{
    background: #F4F4F4;
    padding-bottom: 50px;
    padding-top: 50px;
}
