.examples--background{
    background: #FFF;
}

.examples--squareHeader,
.examples--square{
    padding-bottom: 50px;
    padding-top: 50px;
    height: 404px;
}

.examples--backgroundGrey{
    background: #F4F4F4;
}

.examples-content--position{
    position: relative;
    top: 33%;
    text-align:center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

@media (max-width: 992px){

    .examples-content--position{
	top: 0;
    }

    .examples--squareHeader{
	padding-bottom: 0;
	padding-top: 1px;
	height: 50px;
	border-bottom: solid 1px #CBCBCB;
    }

    .examples--square{
	padding-bottom: 0;
	padding-top: 0;
	height: 175px;
    }
}

/* CUSTOMIZE CAROUSEL
-------------------------------------------------- */

.carousel .carousel-control{
    opacity: 1;
    background: transparent;
}

.carousel-control.right {
  left: auto;
  right: -60px;
}

.carousel-control.left {
  left: -60px;
  right: auto;
}

.carouselExamples {
  height: 182px;
  width: 660px;
  margin-bottom: 0px;
  margin-top: 4%;
  position: relative;
}

.carouselExamples .item {
  height: 182px;
  width: 660px;
}

.carouselExamples-inner > .item > img {
      height: 142px;
      width: 142px;
      display: inline;
      margin-left: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 10px;
}

.carouselExamples--background{
    background: #F4F4F4;
    padding-bottom: 50px;
    padding-top: 50px;
}

.carouselExamples-itemText{
    float: left;
    text-align: center;
    width: 100%;
}

@media (max-width: 992px){

    .carouselExamples {
	width: auto;
    }
    
    .carouselExamples .item {
	width: auto;
    }

    .carousel-control.right{
	right:0%;
	margin-right:0;
    }
    .carousel-control.left{
	left:0%;
	margin-left:0;
    }
    .carouselExamples-itemText{
	float: none;
	width: 0;
    }
}

@media (max-width: 350px){
    .carouselExamples-inner > .item > img {
	margin-left: 70px;
    }
}

@media (max-width: 420px){
    .carouselExamples-inner > .item > img {
	margin-left: 30px;
    }
}