.features--background{
    background: #F4F4F4;
}

.features--squareHeader,
.features--square{
    padding-bottom: 50px;
    padding-top: 50px;
    height: 404px;
    border-top: solid 1px #CBCBCB;
    border-bottom: solid 1px #CBCBCB;
    border-left: solid 1px #CBCBCB;

}

.features--backgroundGreen{
    /* background: #43BF86; */
  background: url(/labs/isogrids/banner/gradient?theme=frogideas&p=0.2&xt=4&h=500&w=400&gx1=0&gy1=0&gy2=40&gx2=40);
}

.features-content--position{
    position: relative;
    top: 33%;
    text-align:center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.features-contentText--postion{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-0%);
}

.features-content--White{
    color: #FFF;
}

.features-title{
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media (max-width: 992px){

    .features--squareHeader{
	height: 50px;
	padding-bottom: 0px;
	padding-top: 0px;
    }

    .features--square{
	padding-bottom: 0px;
	padding-top: 0px;
	height: 101px;
	border-right: solid 1px #CBCBCB;

    }

    .features-content--position{
	top: 10%;
    }

    .features-contentText--postion{
	top: 0%;
    }
}
