.getstarted--backgroundGrey{
    background: #F4F4F4;
}

.getstarted-square--noPadding{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 400px;
}

.getstarted--square,
.getstarted--square2{
    padding-bottom: 0px;
    padding-top: 20px;
    height: 400px;

}

.getstarted-img--center{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.getstarted-img--btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    padding-top: 10px;
}

.getstarted-img--btnLink{
    height: 100%;
    padding-top: 8%;
}

@media (max-width: 992px){
    .getstarted--square,
    .getstarted--square2{
	padding-bottom: 0;
	padding-top: 1px;
	height: 315px;
    }
    .getstarted-title{
	text-align: center;
    }
    .getstarted-img--btnLink {
	padding-top: 5%;
    }
}


@media (max-width: 350px){
    .getstarted--square{
	height: 350px;
    }
    .getstarted--square2{
	height: 260px;
    }
    .getstarted-img--btnLink {
	padding-top: 3%;
    }
}


