.getstarted--backgroundGrey{
    background: #F4F4F4;
}

.getstarted-square--noPadding{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 400px;
}

.getstarted--square{
    padding-bottom: 50px;
    padding-top: 50px;
    height: 400px;

}

.getstarted-img--center{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

@media (max-width: 992px){
    .getstarted--square{
	padding-bottom: 0;
	padding-top: 1px;
	height: 315px;
    }
    .getstarted-title{
	text-align: center;
    }
}
