.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background: #F4F4F4;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background: #F4F4F4;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}

.navbar--color{
    background-color:#FFFFFF;
    border-color: transparent;
}

.navbar--nomargin{
    margin:0;
}

.navbar--noleftpadding{
    padding-right: 0;
}

.nav-logo{
    margin-left: 33%;
    margin-top: 5%;
}

@media (max-width: 992px){
    .nav-logo{
    margin-left: 5%;
    }
}