/* WHAT IS CAROUSEL
-------------------------------------------------- */

.carousel-whatis {
  height: 263px;
  width: 263px;
  margin-bottom: 0px;
  position: relative;
}

.carousel-whatis .item {
  height: 263px;
}

.carouselWhatIs-control--opacity{
    opacity: 0.25;
}

.carouselWhatis-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.carousel-whatIs--background{
    background: #F4F4F4;
    padding-bottom: 50px;
    padding-top: 50px;
}
